
/* navbar */
nav {
    background-color: cornflowerblue;
    background-image: url("../img/pattern.png");
    background-size: auto 200%;
}

#logo {
    width: 200px;
}
/* fine navbar */



/* Titolo */
.grey {
    color: grey;
}

.nome {
    color: cyan;
}

.sotto-img {
    font-size: smaller;
}


/* Tabella */
.tabella-titolo {
    background-color: aqua;
}

.tabella-color {
    background-color: aquamarine;
}


.evidenziatore {
    background-color: gold;
}

.Testo {
    text-align: justify;
}



/* Img finale */

.articolo-image {
    width: 250px;
    height: 180px;

    margin-bottom: 12px;

    background-size: cover;
    background-position: center;

    color: white;
    font-weight: bold;
    font-size: 1.1em;
}