header{
    background-color: cornflowerblue;
    background-image: url(/img/pattern.png);
    height: 200px;
}

#logo{
    width: 200px;
}


/* Titolo */
.grey{
    color: grey;
}

.nome{
    color: cyan;
}

.sotto-img{
    font-size: smaller;
}


/* Tabella */
.tabella-titolo{
    background-color: aqua;
}

.tabella-color{
    background-color: aquamarine;
}


.evidenziatore{
    background-color: gold;
}

.Testo{
    text-align: justify;
}


/* Img finale */
.fine1{
    background-image: url(/img/monitor.jpg);
}

.fine2{
    background-image: url(/img/graph.jpg);
}