header{
    background-color: cornflowerblue;
    background-image: url(/img/pattern.png);
    height: 200px;
}

#logo{
    width: 200px;
}

.sotto-titolo{
    color: grey;
}

.nome{
    color: cyan;
}

.sotto-img{
    font-size: smaller;
}

.tabella-titolo{
    background-color: aqua;
}

.tabella-color{
    background-color: aquamarine;
}